@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Laila:wght@500&family=Secular+One&display=swap');

.Navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Laila', sans-serif;
  color: rgb(242, 214, 225);
  font-weight: bolder;
  position: fixed;
  width: 100%;


}

h2 {
  color: rgb(27, 27, 87);
}

/*rgb(242, 214, 225)*/
.logo {
  padding: 20px;
  margin: 20px;
  font-size: 30px;

}

a {
  color: rebeccapurple;
  text-decoration: none;
}



.navbar-nav {
  display: flex;
  list-style: none;



}

li {
  padding: 50px;
  background-color: rgb(242, 214, 225);
  margin: 20px;
  border: 1px solid rgb(242, 214, 225);
  border-radius: 100px;
  padding: 25px;
}

.nav-item {
  margin-right: 10px;

}
li:hover {
  background-color: rgb(242, 180, 205); 
}

.nav-link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;

}

.nav-link i {
  margin-right: 5px;
}

.nav-link:hover {
  color: blue;
}

.active {
  font-weight: bold;
}

.nav-button {
  background-color: blue;
  color: white;
  border: none;


  font-weight: bold;
  cursor: pointer;

}

.nav-button:hover {
  background-color: darkblue;
}

span {
  color: red;
  font-family: 'Berkshire Swash', cursive;
}

h1 {
  color: rgb(27, 27, 87);
}


@media screen and (max-width: 768px) {
  .Navbar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
  }

  .logo {
    margin: 10px 0;
    font-size: 24px;
    text-align: center;
  }

  .navbar-nav {
    flex-direction: rox;
    align-items: center;
  }

  li {
    margin: 10px 0;
    padding: 15px;
  }
}