.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: rgb(27, 27, 87);
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.html {
  width: 130px;
  height: 130px;
  border-radius: 80%;

}

.long {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding: 20px;
  margin: 40px;
  background-color: white;


  border: 1px solid rgba(255, 230, 230);

  box-shadow: 10px 1px 5px rgba(255, 230, 230);
}

.persontag {
  text-align: center;
}

.por {
  border: 1px solid #eca1ba;
  border-radius: 100%;
}

.por:hover {
  transform: scale(1.2);
  transition: 1s;
}

.por:active {
  background-color: rgb(245, 133, 215)
}

.html:hover {
  transform: scale(1.3);
  transition: 1s;
}

.long:hover {
  transform: scale(1);
  transition: 1s;

}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .long {
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }

  .long .circle-wrap .persontag {
    margin: 20px;
  }
}